<div class="welcome-banner">
  <div class="banner-content">
    <div class="banner-text">
      <h1>{{ greeting }}, {{ displayName || 'Utilisateur' }}</h1>
      <p>{{ subtitle }}</p>
    </div>
  </div>
  <div class="banner-decorations">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
    <div class="circle circle-3"></div>
    <div class="medical-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
        <path d="M22 12h-4l-3 9L9 3l-3 9H2"/>
      </svg>
    </div>
  </div>
</div>
